doctype html
html(lang='en')
  head
    title Title
  body
    | ​
    | ​
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet', href='https://www.w3schools.com/lib/w3-theme-black.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/profile.css')
    .w3-main
      .w3-row.w3-padding-64
        .w3-twothird.w3-container
          form(name='input', method='get')
            h3.w3-text-teal  Household
            | ​
            table
              tbody
                tr
                  th power consumption: 
                  th
                    input(type='number', style='width:100px;height: 30px', value='2500')
                    |  kWh
                tr
                  th stats: 
                  th
                    input(type='number', style='width:100px;height: 30px', value ='43')
                    |  m^2
                tr
                  th persons per household:
                  th
                    input(type='number', style='width:100px;height: 30px', value='2')
                tr
                  th heating: 
                  th
                    input(type='number', style='width:100px;height: 30px',value='20')
                    |  °C
            | ​
            h3.w3-text-teal  Nutrition
            table(style='width:100%')
              tbody
                tr
                  th diet: 
                  th
                    select(name='stroj_nazov')
                      option vegan
                      option vegetarian
                      option meat
                tr
                  th
                    input(type='checkbox', name='regional', value='on')
                    |  regional
                  th
                    input(type='checkbox', name='seasonal', value='on')
                    |  seasonal
                  th#biological
                    input(type='checkbox', name='regional', value='on')
                    |  biological
            | ​
            h3.w3-text-teal  Person
            table
              tbody
                tr
                  th age: 
                  th
                    input(type='number', name='age', style='width:100px;height: 30px',value="24")
                    |  years
                tr
                  th body weight: 
                  th
                    input(type='number', name='age', style='width:100px;height: 30px', value="65")
                    |  kg
                tr
                  th amount of sport per week: 
                  th
                    input(type='number', name='sph', style='width:100px;height: 30px', value='4')
                    |  hours
                tr
                  th
                    | gender:
                  th
                    select(name='gender')
                      option female
                      option male
                      option diverse
                    | ​
            | ​
            h3.w3-text-teal  Transport
            table
              tbody
                tr
                  th
                    | type of motorized vehicle
                  th
                    select(name='vehicle')
                      option none
                      option car
                      option SUV
                      option motorcycle
            | ​
            h3.w3-text-teal  Goal of CO2 emissions this year

            table
                          tbody
                            tr
                              th
                                input#tochange(type='number', name='co2' , value='2')
                                |    tons

    br
    br                            
    button#letsclean
        b Update Profile
    | ​
    | ​
    | ​
    | ​
    | ​
    | ​
    | ​
    | ​
    | ​
    | ​
    | ​
    | ​
