doctype html
html(lang='en')
  head
    title ProPra Website
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet', href='https://www.w3schools.com/lib/w3-theme-black.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    style.
      html,body,h1,h2,h3,h4,h5,h6,table {font-family: "Roboto", sans-serif;}
      .w3-sidebar {
      z-index: 3;
      width: 250px;
      top: 43px;
      bottom: 0;
      height: inherit;
      }
      table {
      ​
      font-style: normal;
      border-collapse: collapse;
      width: 100%;
      }
      td, th{
      text-align: left;
      }
      .w3-main {
      background-color: white;
      }
      ​
      .checkboxes label {
      display: block;
      padding-right: 10px;
      padding-left: 22px;
      text-indent: -22px;
      }
      .checkboxes input {
      vertical-align: middle;
      }
      .checkboxes label span {
      vertical-align: middle;
      }
      ​
      ​
      ​
      ​
  body
    | ​
    | ​
    | ​
    | ​
    // Main content: shift it to the right by 250 pixels when the sidebar is visible
    .w3-main(style='margin-left:250px ')
      | ​
      .w3-row.w3-padding-64
        .w3-twothird.w3-container
          h1.w3-text-teal Track your CO2 Emissions
          form(name='input', method='get')
            h3.w3-text-teal  Food
            | ​
            | ​
            div
              label(style='float:left;width:150px;') Breakfast:
              select(name='stroj_nazov')
                option(value='vegan', selected='') Vegan
                option(value='vegeterian') Vegeterian
                option(value='Meat') Meal including Meat oder Fish
            br
            div
              label(style='float:left;width:150px;') Lunch:
              select(name='stroj_nazov')
                option(value='vegan', selected='') Vegan
                option(value='vegeterian') Vegeterian
                option(value='Meat') Meal including Meat oder Fish
            br
            div
              label(style='float:left;width:150px;') Dinner:
              select(name='stroj_nazov')
                option(value='vegan', selected='') Vegan
                option(value='vegeterian') Vegeterian
                option(value='Meat') Meal including Meat oder Fish
            | ​
            br
            | ​
            | ​
            | ​
            | ​
            | ​
            table
              tbody
                tr
                  th
                    input(type='checkbox', value='on')
                    |  Bio
                  th
                    input(type='checkbox', value='on')
                    |  Seasonal
                  th
                    input(type='checkbox', value='on')
                    |  Regional
                  th
                    input(type='checkbox', value='on')
                    |  Out
            | ​
            | ​
            br
            | ​
            | ​
          | ​
          | ​
          form(name='input', method='get')
            h3.w3-text-teal  Transportation
            img(src='./cms_12614.png', style='width:100px;height: 50px')
            |                         Connect to Google Maps
            | ​
            select(name='dropdown')
              option(value='vegan', selected='') yes
              option(value='vegeterian') no
            table
              tbody
                tr
                tr
                tr
            br
            |                 If you want to enter a trip manually you can do it here:
            br
            | ​
            | ​
            | ​
            | ​
          | ​
          | ​
        | ​
        | ​
      | ​
      | ​
      | ​
      | ​
      | ​
      | ​
      | ​
      // Pagination
      | ​
      // END MAIN
    | ​
    script.
      // Get the Sidebar
      var mySidebar = document.getElementById("mySidebar");
      ​
      // Get the DIV with overlay effect
      var overlayBg = document.getElementById("myOverlay");
      ​
      // Toggle between showing and hiding the sidebar, and add overlay effect
      function w3_open() {
      if (mySidebar.style.display === 'block') {
      mySidebar.style.display = 'none';
      overlayBg.style.display = "none";
      } else {
      mySidebar.style.display = 'block';
      overlayBg.style.display = "block";
      }
      }
      ​
      // Close the sidebar with the close button
      function w3_close() {
      mySidebar.style.display = "none";
      overlayBg.style.display = "none";
      }
    | ​
