doctype html
html(lang='en')
  head
    title ProPra Website
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet', href='https://www.w3schools.com/lib/w3-theme-black.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/track.css')
  body
    // Main content: shift it to the right by 250 pixels when the sidebar is visible
    .w3-main
      .w3-row.w3-padding-64
        .w3-twothird.w3-container
          h1.w3-text-teal Track your CO2 Emissions

          br

          form(name='input', method='get')
            h3.w3-text-teal  Food
            div
              label(style='float:left;width:150px;') Breakfast:
              select(name='stroj_nazov',style='width:120px;height: 20px')
                option(value='vegan', selected='') Vegan
                option(value='vegeterian') Vegeterian
                option(value='Meat') Meat or Fish
            br
            div
              label(style='float:left;width:150px;') Lunch:
              select(name='stroj_nazov',style='width:120px;height: 20px')
                option(value='vegan', selected='') Vegan
                option(value='vegeterian') Vegeterian
                option(value='Meat') Meat oder Fish
            br
            div
              label(style='float:left;width:150px;') Dinner:
              select(name='stroj_nazov', style='width:120px;height: 20px')
                option(value='vegan', selected='') Vegan
                option(value='vegeterian') Vegeterian
                option(value='Meat') Meat oder Fish
            br
            table
              tbody
                tr
                  th
                    input(type='checkbox', value='on')
                    |  Bio
                  th
                    input(type='checkbox', value='on')
                    |  Seasonal
                  th
                    input(type='checkbox', value='on')
                    |  Regional
                  th
                    input(type='checkbox', value='on')
                    |  Out
            br
            br
          form(name='input', method='get')
            h3.w3-text-teal  Transportation
            table
              tbody
                tr
                  th
                    img(src='../img/cms_12614.png', style='width:100px;height: 50px')
                  th
                    | Connect to Google Maps
                  th
                    select(name='dropdown')
                      option(value='yes', selected='') yes
                      option(value='no') no
            br
            |                 If you want to enter a trip manually you can do it here:
            br
            br
            table
              tbody
                tr
                  th
                    | Traveling by:
                  th
                    select(name='dropdown')
                      option(value='car', selected='') car
                      option(value='bike') bike
                      option(value='plane') plane
                      option(value='train') train
                      option(value='public transport') public transport
                tr
                  th
                    | From:
                  th
                    | To:
                tr
                  th
                    input(type='text', style='width:100px;height: 30px')
                  th
                    input(type='text', style='width:100px;height: 30px')
                tr
            br
            br
          form(name='input', method='get')
            h3.w3-text-teal  Online Activity
            |                 Connect your device with:
            br
            br
            table
              tbody
                tr
                  th
                    img(src='../img/Google.png', style='width:50px;height: 50px')
                  th
                    img(src='../img/Netflix.png', style='width: 50px; height: 50px')
                  th
                    img(src='../img/Spotify.png', style='width: 50px; height: 50px')
                  th
                    select(name='dropdown')
                      option(value='yes', selected='') yes
                      option(value='no') no
          br
          br
          form
            h3.w3-text-teal Shopping 
            table
              tbody
                tr
                  th
                    select(name='dropdown')
                      option(value='Clothes') Clothes
                      option(value='tech') Technical devices
                  th
                    | Quantity:
                  th
                    input(type='number', style='width:50px')
          br
    // Pagination
    // END MAIN

    button#letsclean
        b Track