* {background-color: #fafafa !important;}

html,h1,h2,h3,h4,h5,h6,table,td,th {font-family: "Roboto", sans-serif; font-weight: normal; background-color: #fafafa;}

h3, h1 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #00b064 !important;
    font-size: 17pt;
}

input {
    border-radius: 5px;
    border: solid 2px #ddd;
    background-color: #fff;
}

h1 {
    font-size: 21pt;
}

body{
    font-family: "Roboto", sans-serif; font-weight: normal;

}
form{
    background-color: #fafafa
}
.w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td, th{
    text-align: left;
}
.w3-main {
    background-color: #fafafa;
}
.checkboxes label {
    display: block;
    padding-right: 10px;
    padding-left: 22px;
    text-indent: -22px;
}
.checkboxes input {
    vertical-align: middle;
}
.checkboxes label span {
    vertical-align: middle;
}

.w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
}
table {
    font-family: "Courier New", Courier,monospace;
    font-style: normal;
    border-collapse: collapse;
    width: 100%;
}
.raster {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 10px 10px;
    grid-gap: 20px;
}
td, th{
    text-align: left;
}
.w3-main {
    background-color: white;
}

.checkboxes label {
    display: block;
    padding-right: 10px;
    padding-left: 22px;
    text-indent: -22px;
}
.checkboxes input {
    vertical-align: middle;
}
.checkboxes label span {
    vertical-align: middle;
}

#rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 5%;
    width: 80%;
    margin: 0 auto;
    background-color: #fafafa;
    margin-top: 20px;
}

.challenge {
    width: 100%;
}

.challenge_name, .challenge_start, .challenge_end {
    width: 30%;
    display: inline-block;
    border: solid 2px black;
    text-align: center;
}

#cooperation{
    width: 100%;
}

#cooperation_CO2, #cooperation_name, #cooperation_place{
    width: 30%;
    display: inline-block;
    text-align: center;
}

#cooperation_CO2_you, #cooperation_name_you, #cooperation_place_you{
    width: 30%;
    display: inline-block;
    text-align: center;
    color: red;
    font-weight: bold;

}

#cooperation_CO2h, #cooperation_nameh, #cooperation_placeh{
    width: 30%;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

.two {
    font-size: 16pt;
}

#co2emissions{
    width: 94%;
    background-color: #57ffb6 !important;
    margin: 0 auto;
    font-family: 'Roboto';
    color: #fafafa;
  }

  button {
    background-color: #00b064 !important;
    border-style: none;
    width: 20%;
    padding: 20px 0;
    color: #eee;
    font-size: 13pt;
  }

  #co2emissions b, #co2emissions span {
    background-color: #57ffb6 !important;
  }

  #co2emissions button b, #co2emissions button span{
      background-color:  #00b064 !important;
  }

  #co2emissions button {
    background-color: #333333;
    color: #ffffff;
    width: 25%;
  }

  #challenge_title {
      font-size: 14pt !important;
      margin-bottom: 8px;
  }
  
  #note {
    float: right;
    margin-top: 20px;
    margin-right: 2%;
    color: #303030;
  }

  #main_title {
      text-align: center;
  }

