  body {
      background-color: #fafafa;
      cursor: pointer;
  }
  
    .st0{fill:#666155;}
    .st1{fill:#354c66;}
    .st2{fill:#44473d;}
    .st3{fill:#3a3d32;}
    .st4{fill:#695020;}
    .st5{fill:#5b7059;}
    .st6{fill:#4a6646;}
    .st7{fill:#374036;}
    .st8{fill:#415c3b;}
    .st9{fill:#475743;}
    .st10{fill:#535c22;}
    .st11{fill:#5c6318;}
    .st12{fill:#F15A24;}
    .st13{fill:#F7931E;}
    .st14{fill:#FCEE21;}

    /*.st0{fill:#738555;}
    .st1{fill:#4390bd;}
    .st2{fill:#607951;}
    .st3{fill:#587942;}
    .st4{fill:#695020;}
    .st5{fill:#679264;}
    .st6{fill:#558550;}
    .st7{fill:#53704f;}
    .st8{fill:#4b813d;}
    .st9{fill:#53774a;}
    .st10{fill:#64862c;}
    .st11{fill:#5f881e;}
    .st12{fill:#F15A24;}
    .st13{fill:#F7931E;}
    .st14{fill:#FCEE21;}*/

  svg {
      margin-bottom: 20px;
  }
  
  div#clean {
    width: 90%;
    background-color: #00db7c;
    margin: 0 auto;
    font-family: 'Roboto';
  }
  
  button {
    background-color: #00b064;
    border-style: none;
    width: 65%;
    padding: 20px 0;
    color: #eee;
    font-size: 13pt;
  }
  
  #note {
    float: right;
    margin-top: 20px;
    margin-right: 2%;
    color: #303030;
  }

  #letstrack {
      margin-left: 5%;
      width: 90%;
  }