* {background-color: #fafafa}

html,h1,h2,h3,h4,h5,h6,table,td,th {font-family: "Roboto", sans-serif; font-weight: normal; background-color: #fafafa;}

    h3, h1 {
        margin: 0;
    padding: 0;
    font-weight: bold;
    color: #00b064 !important;
    font-size: 17pt;
    }

    input {
        border-radius: 5px;
        border: solid 2px #ddd;
        background-color: #fff;
    }

    h1 {
        font-size: 21pt;
    }

      body{
            font-family: "Roboto", sans-serif; font-weight: normal; 

      }
      form{
            background-color: #fafafa
      }
      .w3-sidebar {
      z-index: 3;
      width: 250px;
      top: 43px;
      bottom: 0;
      height: inherit;
      }
      table {
      border-collapse: collapse;
      width: 100%;
      }
      td, th{
      text-align: left;
      }
      .w3-main {
      background-color: white;
      }
      .checkboxes label {
      display: block;
      padding-right: 10px;
      padding-left: 22px;
      text-indent: -22px;
      }
      .checkboxes input {
      vertical-align: middle;
      }
      .checkboxes label span {
      vertical-align: middle;
      }


